/* Open Dyslexic */
@font-face {
    font-family: "Open Dyslexic";
    font-weight: bold;
    font-style: italic, oblique;
    src: url("../fonts/OpenDyslexic-BoldItalic.otf");
}
@font-face {
    font-family: "Open Dyslexic";
    font-style: italic, oblique;
    src: url("../fonts/OpenDyslexic-Italic.otf");
}
@font-face {
    font-family: "Open Dyslexic";
    font-weight: bold;
    src: url("../fonts/OpenDyslexic-Bold.otf");
}
@font-face {
    font-family: "Open Dyslexic";
    src: url("../fonts/OpenDyslexic-Regular.otf");
}
/* Andika */
@font-face {
    font-family: "Andika New Basic";
    font-weight: bold;
    font-style: italic, oblique;
    src: url("../fonts/AndikaNewBasic-BI.ttf");
}
@font-face {
    font-family: "Andika New Basic";
    font-weight: bold;
    src: url("../fonts/AndikaNewBasic-B.ttf");
}
@font-face {
    font-family: "Andika New Basic";
    font-style: italic, oblique;
    src: url("../fonts/AndikaNewBasic-I.ttf");
}
@font-face {
    font-family: "Andika New Basic";
    src: url("../fonts/AndikaNewBasic-R.ttf");
}
/* Lexie Readable */
@font-face {
    font-family: "Lexie Readable";
    font-weight: bold;
    src: url("../fonts/LexieReadable-Bold.ttf");
}
@font-face {
    font-family: "Lexie Readable";
    src: url("../fonts/LexieReadable-Regular.ttf");
}


body {
    /*font-family: "Lexie Readable";*/
    font-size: 18px;
    width: 15em;
    padding: 0 .3em;
}

/* ON/OFF switch */
.switch input {
    display: none;
}
.switch {
    display: inline-block;
    height: 1em;
    width: 2em;
    margin: 0;
    font-size: .7em;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 0.3em;
}
.slider {
    background-color: #9f9f9f;
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 100px;
    margin: 0;
    -webkit-transition: .15s;
    transition:         .15s;
 }
.slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #ffffff;
    height: calc( 1em - 4px );
    width: calc( 1em - 4px );
    border-radius: 100px;
    -webkit-transition: .15s;
    transition:         .15s;
}
input:checked + .slider {
    background-color: #639bff;
}
input:checked + .slider::before {
    margin-left: 1em;
}

.header {
    margin-top: 0;
    height: 2em;
}
.on-off {
    float: right;
}
.switch.main-switch {
    font-size: 1em;
    padding-top: 0;
}
.mode {
    font-family: "Lexie Readable";
    font-weight: bold;
    font-size: .7em;
    vertical-align: middle;
    margin: 0 .4em;
    color: #9f9f9f;
}
.mode.actif {
    color: #1a4228;
}

.option {
    margin: .5em 0;
}
.option-name {
    margin-left: .3em;
    vertical-align: middle;
}

#configlink {
    margin: .5em 0;
    cursor: pointer;
}
img {
    height: 1.1em;
    width: 1.1em;
    padding: 0 .15em;
    vertical-align: middle;
}
.line {
    display: block;
    width: 100%;
    height: 0;
    border: none;
    border-bottom: 1px solid black;
}

.infobox {
    margin: .5em 0;
}
.info {
    font-size: .8em;
    display: block;
    margin-bottom: .4em;
    color: #555;
}
.info:hover {
    background-color: white;
}
.info::before {
    content: '?';
    font-family: "Arial";
    font-size: .9em;
    padding: .05em;
    font-weight: bold;
    display: inline-block;
    border : 1.2px solid #999;
    color: #999;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    text-align: center;
    margin-right: .1em;
}

#options.off .option-name {
    color: #9f9f9f;
}
#options.off input:checked + .slider {
    background-color: #9f9f9f;
}