/* Open Dyslexic */
@font-face {
    font-family: "Open Dyslexic";
    font-weight: bold;
    font-style: italic, oblique;
    src: url("../fonts/OpenDyslexic-BoldItalic.otf");
}
@font-face {
    font-family: "Open Dyslexic";
    font-style: italic, oblique;
    src: url("../fonts/OpenDyslexic-Italic.otf");
}
@font-face {
    font-family: "Open Dyslexic";
    font-weight: bold;
    src: url("../fonts/OpenDyslexic-Bold.otf");
}
@font-face {
    font-family: "Open Dyslexic";
    src: url("../fonts/OpenDyslexic-Regular.otf");
}
/* Andika */
@font-face {
    font-family: "Andika New Basic";
    font-weight: bold;
    font-style: italic, oblique;
    src: url("../fonts/AndikaNewBasic-BI.ttf");
}
@font-face {
    font-family: "Andika New Basic";
    font-weight: bold;
    src: url("../fonts/AndikaNewBasic-B.ttf");
}
@font-face {
    font-family: "Andika New Basic";
    font-style: italic, oblique;
    src: url("../fonts/AndikaNewBasic-I.ttf");
}
@font-face {
    font-family: "Andika New Basic";
    src: url("../fonts/AndikaNewBasic-R.ttf");
}
/* Lexie Readable */
@font-face {
    font-family: "Lexie Readable";
    font-weight: bold;
    src: url("../fonts/LexieReadable-Bold.ttf");
}
@font-face {
    font-family: "Lexie Readable";
    src: url("../fonts/LexieReadable-Regular.ttf");
}

:root {
    --color-size: 20px;
    --color-hover: #f2f9ff;
}

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
}
#header {
    box-shadow: 0px -15px 27px 16px rgba(158,158,158,1);
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
}

.top {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    margin: 0;
    padding: .1em 0 .3em 1em;
    font-family: "Arial Black", sans-serif;
}
h1 > img {
    height: 2em;
    display: inline-block;
    vertical-align: middle;
}
h1 > span {
    display: inline-block;
    vertical-align: middle;
    margin-top: .38em;
    font-size: 1.1em;
}
.test-text {
    width: 76%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: .7em 12%;
    font-size: 12px;
    font: 17px "georgia", serif;
    line-height: 1.2em;
    display: table;
}
#test-text {
    width: 100%;
    max-width: 93rem;
    margin: 0 auto;
}


.buttons {
    margin-top: .8em;
    float: right;
    position: fixed;
    top: 0;
    right: calc( (100% - 39em - 100px) * .4 );
}
.button {
    border: 2px solid black;
    margin: .5em 0 0 0;
    display: table;
    width: 8em;
    height: 2em;
    text-align: center;
    border-radius: .5em;
    cursor: pointer;
    color: #4d5fff;
    border-color: #4d5fff;
    background-color: #d9dcff;}
.button#save {
    background-color: #ef2b2a;
    color: #ffffff;
    border-color: #a71414;
    font-weight: bold;
}
.button.disabled,
.button#save.disabled {
    color: #555555;
    border-color: #414141;
    background-color: #f0f0f0;
    cursor: default;
}
.button-in {
    display: table-cell;
    vertical-align: middle;
}

.main {
    margin-top: 1em;
    min-width: 20em;
    margin-left: calc( (100% - 39em - 100px) * .4 );
    margin-bottom: 5em;
    line-height: 1.7em;
}

input.jscolor {
    border: none;
    width: 0;
    padding: 0 0 0 var(--color-size);
    height: var(--color-size);
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    vertical-align: baseline;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.section {
    padding: 1.3em 0 .5em 0;
}
.title {
    border-bottom: 1px solid black;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0 3em 0 0;
    margin: 0 .7em;
}
.options-set {
    margin: 1em 0 0 8%;
    width: 40em;
}
.option, .infobox {
    width: 26em;
    font-size: 1.1em;
    padding: .2em 10px;
}
.option:hover {
    background-color: var(--color-hover);
}
.option-name {
    margin: 0 .5em;
}
.option-name::after {
    content: " :";
    margin-right: 1.5em;
}
.option-name.seul::after {
    content: "";
    margin-right: 1.5em;
}

select,
input[type=number] {
    float: right;
    font-size: 1em;
    margin: 2px 0;
    padding: 0 0.0 0 0.3em;
    height: 1.5em;
    background-color: white;
    border: 1px solid #888888;
    border-radius: 4px;
    font-family: "arial";
}
input[type=number] {
    width: 3em;
}

.suboption {
    font-size: .9em;
    margin-left: 5em;
}
.suboption .option {
    margin-top: 0.3em;
    width: 20em;
    padding: 0 10px .2em 10px;
}
.suboption .option .option-name {
    display: inline-block;
    width: 12.2em;
}

.match + .suboption {
    margin-left: 3em;
    line-height: 1.1em;
    margin-bottom: .4em;
}

.pmbutton {
    display: inline-block;
    border: 2px solid black;
    width: 0.8em;
    height: 0.8em;
    border-radius: 5px;
    font: 1.1em "Consolas";
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: .75em;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.pmbutton.disabled {
    border-color: #888;
    color: #888;
}

.match {
    padding: 0 10px .25em 10px;
    display: inline-block;
}
.match:hover {
    background-color: var(--color-hover);
}
/*
.match > .switch {
    vertical-align: middle;
}
*/
.match-in {
    margin-left: 1em;
    width: 3em;
    display: inline-block;
    vertical-align: top;
}
.match-ex::before {
    content: '►';
    margin-left: .5em;
    margin-right: 1.1em;
    font-size: .75em;
}
.match-ex.filler::before {
    content: '';
}
.match-ex {
    display: inline-block;
    vertical-align: middle;
    width: 15em;
}
.match-split {
    height: 0em;
}
.match-split+.match {
    border-top: 1px solid black;
    padding-top: .3em;
}

/* ON/OFF switch */
.switch input {
    display: none;
}
.switch {
    display: inline-block;
    height: 1em;
    width: 2em;
    margin: 0;
    font-size: .8em;
    cursor: pointer;
    vertical-align: baseline;
}
.switch.large {
    font-size: 1em;
}
.switch.small {
    font-size: .7em;
}
.slider {
    background-color: #9f9f9f;
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 100px;
    margin: 0;
    -webkit-transition: .15s;
    transition:         .15s;
 }
.slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #ffffff;
    height: calc( 1em - 4px );
    width: calc( 1em - 4px );
    border-radius: 100px;
    -webkit-transition: .15s;
    transition:         .15s;
}
input:checked + .slider {
    background-color: #639bff;
}
input:checked + .slider::before {
    margin-left: 1em;
}

.subcheckbox input {
    display: none;
}
.subcheckbox {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: .05em .2em 0 .7em;
    font-size: .8em;
    cursor: pointer;
    vertical-align: middle;
}
.subcheckbox-box {
    border: 1.5px solid #555;
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: .4em;
    margin: .15em;
    font-size: .7em;
    background-color: white;
}
.subcheckbox-box::after {
    visibility: hidden;
    content: "";
    position: absolute;
    top: 0.23em;
    left: 0.14em;
    border: solid black;
    border-width: 0 0 .17em .17em;
    height: .25em;
    width: .53em;
    transform: rotate(-45deg);
}
input:checked + .subcheckbox-box {
    border-color: #4484f4;
    background-color: #4484f4;
}
input:checked + .subcheckbox-box::after {
    visibility: visible;
    border-color: white;
}

.suboption .subcheckbox {
    font-size: .89em;
    margin-bottom: .2em;
}

.info {
    font: 16px "Arial";
    display: block;
    margin-bottom: .4em;
    color: #555;
}
.info:hover {
    background-color: white;
}
.info::before {
    content: '?';
    font-size: .9em;
    padding: .05em;
    font-weight: bold;
    display: inline-block;
    border : 1.2px solid #999;
    color: #999;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    text-align: center;
    margin-right: .1em;
}

.option-name.gauche,
.mode.gauche {
    margin-left: 0;
}
.option-name.gauche::after {
    margin-right: .7em;
}
.mode {
    margin-left: 1em;
    margin-right: 1em;
    color: #9f9f9f;
    -webkit-transition: .15s;
    transition:         .15s;
}
.mode.actif {
    color: inherit;
    text-decoration: underline;
}
.switch.mode-switch {
    vertical-align: middle;
}
.switch.mode-switch>input + .slider ,
.switch.mode-switch>input:checked + .slider {
    background-color: #5d5d5d;
}
.mode-res::before {
    content: '►';
    margin-left: .7em;
    margin-right: .8em;
}

.foot {
    margin-top: 8em;
    border-top: 1px solid black;
    width: calc(60px + 30em + 8%);
}
.foot p {
    margin-bottom: 0;
}
.foot ul {
    margin-top: 0;
}
.foot + .foot {
    margin-top: 3em;
}

a {
    text-decoration: none;
    color: #5085e2;
    font-weight: bold;
    
}
